# dependencies
node_modules
venv

# misc
.DS_Store
.flaskenv
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
__pycache__

# production
/build