.tab-list {  border-bottom: 1px solid #ccc;
  margin-left: 105px;
  margin-top: 1rem;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.tab-list-active {
  background-color: grey;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;

}

.tab-content{
  margin-left: 100px;
}

.active-navlink {
  background-color:#EE3EC9;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 0.5 0;
  font-size: 3rem;
}